{%- doc -%}
  Renders a carousel of predictive search results cards

  @param {string} ref - The ref of the slideshow
  @param {object} slides - An array of HTML for the slides to display in the carousel
  @param {number} slide_count - The number of slides to display in the carousel
  @param {object} settings - The block or sections settings from the parent block/section.
  @param {string} [slide_width_max] - The maximum width of the slides in the carousel.

  @example
  {% render 'resource-list-carousel', slides: slides, slide_count: slide_count, settings: block.settings %}
{%- enddoc -%}

{% liquid
  assign slideshow_ref = ref | default: 'resourceListCarousel'

  if settings.section_width == 'page-width'
    assign slideshow_gutters = 'start end'
    assign gutter_style = '--gutter-slide-width: var(--util-page-margin-offset);'
  else
    assign slideshow_gutters = null
    assign gutter_style = '--gutter-slide-width: 0px;'
  endif

  assign show_arrows = false
  if settings.icons_style != 'none'
    assign show_arrows = true
  endif
%}

{% capture slides %}
  {% for item in slides limit: slides.size %}
    {{ item }}
  {% endfor %}
{% endcapture %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

<div
  class="swiper product-carousel-swiper"
  id="{{ slideshow_ref }}"
  data-swiper-columns="{{ settings.columns | default: 4 }}"
  data-swiper-gap="{{ settings.columns_gap | default: 20 }}"
  style="{{ gutter_style }} --slide-width-max: {{ slide_width_max | default: '300px' }};"
>
  <div class="swiper-wrapper">
    {% for item in slides limit: slides.size %}
      <div class="swiper-slide">
        {{ item }}
      </div>
    {% endfor %}
  </div>

  <!-- navigation buttons and pagination -->
  <div class="product-carousel-controls">
    <button class="slider-nav-btn slider-nav-prev swiper-button-prev" aria-label="Previous">
      <img
        src="https://cdn.shopify.com/s/files/1/0961/8086/3276/files/Group_1000001558_1.png?v=1772141969"
        alt="Previous"
        class="slider-arrow-icon slider-arrow-prev"
      >
    </button>
    <div class="swiper-pagination"></div>
    <button class="slider-nav-btn slider-nav-next swiper-button-next" aria-label="Next">
      <img
        src="https://cdn.shopify.com/s/files/1/0961/8086/3276/files/Group_1000001558_1.png?v=1772141969"
        alt="Next"
        class="slider-arrow-icon"
      >
    </button>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{{ 'product-carousel.js' | asset_url }}" defer></script>
