{% assign form_id = block.id | prepend: 'EmailSignup-' %}
{%- form 'customer', class: 'email-signup__form spacing-style' %}
  <input
    name="contact[id]"
    type="hidden"
    value="{{ form_id }}"
  >

  <div
    class="email-signup__input-group {% if block_settings.integrated_button and block_settings.border_style != 'underline' %}email-signup__input-group--integrated{% endif %} {% if block_settings.border_style == 'underline' %}email-signup__input-group--underline{% endif %} {% if block_settings.border_style == 'none' %}email-signup__input-group--no-border{% endif %} {% if block_settings.display_type == 'arrow' %}email-signup__input-group--arrow{% endif %} {% if block_settings.inherit_color_scheme == false %}color-{{ block_settings.color_scheme }}{% endif %}"
    style="--border-width: {{ block_settings.border_width }}px; --border-radius: {{ block_settings.border_radius }}px;"
  >
    <label
      for="EmailInput-{{ block.id }}"
      class="visually-hidden"
    >
      {{ 'blocks.email_signup.label' | t }}
    </label>
    <input
      id="EmailInput-{{ block.id }}"
      class="email-signup__input email-signup__input--{{ block_settings.border_style }} {{ block_settings.input_type_preset }} {{ block_settings.border_variation }}"
      type="email"
      name="contact[email]"
      autocorrect="off"
      autocapitalize="off"
      autocomplete="email"
      placeholder="{{ 'blocks.email_signup.placeholder' | t }}"
      required
      {% if form.errors and form.id == form_id %}
        autofocus
        aria-invalid="true"
        aria-describedby="Email-signup__message-error-{{ block.id }}"
      {% elsif form.posted_successfully? and form.id == form_id %}
        aria-describedby="Email-signup__message-success-{{ block.id }}"
      {% endif %}
    >
    <button
      class="email-signup__button {% if block_settings.integrated_button or block_settings.border_style == 'underline' %}email-signup__button--integrated{% endif %} email-signup__button--{{ block_settings.display_type }} {{ block_settings.button_type_preset }} {{ block_settings.style_class }} {{ block_settings.style_class }}--{{ block.id }} {% if block_settings.inherit_color_scheme == false %}color-{{ block_settings.color_scheme }}{% endif %}"
      {% if block_settings.display_type != 'text' %}
        aria-label="{{ 'actions.sign_up' | t }}"
      {% endif %}
    >
      {% if block_settings.display_type == 'text' %}
        {{ block_settings.label }}
      {% else %}
        <svg
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          focusable="false"
          aria-hidden="true"
          class="email-signup__button-icon"
        >
          {% render 'icon', icon: 'arrow' %}
        </svg>
      {% endif %}
    </button>
  </div>

  {%- if form.errors and form.id == form_id -%}
    <div
      id="Email-signup__message-error-{{ block.id }}"
      class="email-signup__message"
      tabindex="-1"
    >
      <svg
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        focusable="false"
        aria-hidden="true"
        class="icon-error"
      >
        {%- render 'icon', icon: 'error'  -%}
      </svg>
      {{- form.errors.translated_fields.email | capitalize }}
      {{ form.errors.messages.email -}}
    </div>
  {%- endif -%}

  {%- if form.posted_successfully? and form.id == form_id -%}
    <div
      id="Email-signup__message-success-{{ block.id }}"
      class="email-signup__message"
      tabindex="-1"
    >
      <span class="svg-wrapper icon-success">
        {{ 'icon-checkmark.svg' | inline_asset_content }}
      </span>
      <p class="email-signup__message-text">{{ 'blocks.email_signup.success' | t }}</p>
    </div>
  {%- endif -%}
{% endform %}

{% schema %}
{
  "name": "Footer Newsletter",
  "presets": [
    {
      "name": "Footer Newsletter"
    }
  ]
}
{% endschema %}
