<div class="home_top_banner-container">
  <div class="home_top_banner-left-container">
    <h1>{{ section.settings.heading }}</h1>
    <p>{{ section.settings.subheading }}</p>
    <div class="home_top_banner-left-buttons-container">
      <a href="{{ section.settings.primary_url }}">{{ section.settings.primary_button_text }}</a>
      <a href="{{ section.settings.secondary_url }}">{{ section.settings.secondary_button_text }}</a>
    </div>
  </div>
  <div class="home_top_banner-right-container">
    <div class="home_top_banner-right-column1">
      {% for block in section.blocks %}
        <div class="home_top_banner-right-column1-block">
          <img src="{{ block.settings.image }}">
          <p>{{ block.settings.name }}</p>
        </div>
      {% endfor %}
    </div>
    <div class="home_top_banner-right-column2"></div>
  </div>
</div>

{% schema %}
{
  "name": "Home Top Banner",
  "settings": [],
  "presets": [
    {
      "name": "Home Top Banner"
    }
  ]
}
{% endschema %}
