<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<link rel="stylesheet" href="{{ 'pdp-videos-carousel.css' | asset_url }}">

<div class="section pdp-videos-carousel-container">
  <p class="section-heading">{{ section.settings.section_heading }}</p>
  <div class="swiper pdp-videos-swiper">
    <div class="swiper-wrapper pdp-videos-carousel-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide pdp-videos-carousel-video">
          {{ block.settings.video_url | video_tag: autoplay: true, loop: true, muted: true }}
          <p class="pdp-videos-carousel-content-heading">{{ block.settings.video_heading }}</p>
          <p class="pdp-videos-carousel-content-subheading">{{ block.settings.video_subheading }}</p>
        </div>
      {% endfor %}
    </div>

    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev" style="color: #111;"></div>
    <div class="swiper-button-next" style="color: #111;"></div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer="defer"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const swiper = new Swiper('.pdp-videos-swiper', {
      slidesPerView: 1.5,
      spaceBetween: 15,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      breakpoints: {
        768: {
          slidesPerView: 2.5,
          spaceBetween: 15,
        },
        1024: {
          slidesPerView: 4,
          spaceBetween: 20,
        },
      },
    });
  });
</script>
{% schema %}
{
  "name": "Videos Carousel PDP",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading"
    }
  ],
  "blocks": [
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "video",
          "id": "video_url",
          "label": "Video"
        },
        {
          "type": "text",
          "id": "video_heading",
          "label": "Video Heading"
        },
        {
          "type": "textarea",
          "id": "video_subheading",
          "label": "Video Subheading"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Videos Carousel PDP"
    }
  ]
}
{% endschema %}
